###############################
#       Flutter / Dart        #
###############################

# Build
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.dart_tool/
.pub-cache/
.pub/

# Platform builds
**/android/app/build/
**/android/.gradle/
**/android/.settings/
**/android/local.properties
**/android/gradlew
**/android/gradlew.bat
**/android/gradle/

**/ios/Pods/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/App.framework
**/ios/Flutter/Generated.xcconfig
**/ios/Runner/GeneratedPluginRegistrant.*

**/macos/Flutter/Flutter-Debug.xcconfig
**/macos/Flutter/Flutter-Release.xcconfig
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Pods/

**/windows/flutter/ephemeral/
**/windows/runner/GeneratedPluginRegistrant.*

**/linux/flutter/ephemeral/
**/linux/runner/GeneratedPluginRegistrant.*

**/web/.dart_tool/

# VS Code / IntelliJ
.idea/
.vscode/
*.iml

# OS files
.DS_Store

# Generated
*.lock
*.log

###############################
#           Go                #
###############################

# Binaries
**/*.exe
**/*.exe~
**/*.dll
**/*.so
**/*.dylib
**/server
**/bin/
**/dist/

# Go Build cache
**/go-build/
**/cover.out

# Dependency stuff
**/vendor/

###############################
#        General              #
###############################



# Logs
*.log

# Env files
.env
.env.*
